<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nwx.mapper.common.SysLayuiTableColsMapper">
    <resultMap id="cols" type="com.nwx.entity.common.SysLayuiTableCols"/>
    <parameterMap id="cols" type="com.nwx.entity.common.SysLayuiTableCols"/>

    <select id="findColsByTableCode" resultMap="cols" parameterType="String">
        select * from sys_layui_table_cols t
        where t.table_code = #{tableCode}
        order by t.orders
    </select>
</mapper>