<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>KIT ADMIN</title>
    <link rel="icon" href="${ctxPath}/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="${ctxPath}/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}/plugins/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}//css/app.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}/css/themes/default.css" media="all" id="skin" kit-skin/>
    <script src="${ctxPath}/plugins/layui/layui.js"></script>
</head>

<body>

<div>
    <script id="usertoolbar">

    </script>
    <table class="layui-hide" id="userList" lay-filter="userList"></table>

    <script>


        layui.use('table', function(){
            var table = layui.table;
            var tableIns = table.render({
                elem:'#userList',
                url:'${ctxPath}/admin/user/tableData',
                cols: [[
                    {field:' ',title:'全选',width:'3%',type:'checkbox'},
                    {field:'loginName',title:'登录账号',width:'8%',minWidth:100,align:'left'},
                    {field:'userId',title:'用户ID',width:'11%',align:'left'},
                    {field:'userName',title:'用户姓名',width:'8%',align:'left'},
                    {field:'sex',title:'性别',width:'11%',align:'left'},
                    {field:'mobilePhone',title:'手机号',width:'11%',align:'left'},
                    {field:'createTime',title:'创建时间',width:'16%',align:'left'},
                    {field:'status',title:'状态',width:'11%',align:'left'},
                    {field:'TOOL',title:'操作',width:'20%',align:'left',toolbar:'#usertoolbar'}
                ]],
                height: 'full-60',
                cellMinWidth: 80,
                page: true,
                limit: 20,
                limits: [20,40,60],
                skin: 'nob',
                even: true,
                loading: true,
                text: {
                    none: '暂无相关数据!'
                },
            });
            $.fn.serializeObject = function(){
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name]) {
                        if (!o[this.name].push) {  o[this.name] = [o[this.name]];}
                        o[this.name].push(this.value||'');
                    } else {
                        o[this.name] = this.value||'';
                    }});
                return o;};
            $("img[tag='query']").click(function(){
                var para=$(this).parents('form').serializeObject();
                tableIns.reload({where:para});
            });
            $("input[tag='query']").click(function(){
                var para=$(this).parents('form').serializeObject();
                tableIns.reload({where:para});
            });
            $("button[tag='query']").click(function(){
                var para=$(this).parents('form').serializeObject();
                tableIns.reload({where:para});
            });
            $("div[tag='query']").click(function(){
                var para=$(this).parents('form').serializeObject();
                tableIns.reload({where:para});
            });
        });


    </script>
</div>


</body>

</html>