<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>KIT ADMIN</title>
    <link rel="stylesheet" href="${ctxPath}/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}/css/app.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}/plugins/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}/css/app.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath}/css/themes/default.css" media="all" id="skin" kit-skin/>
    <script src="${ctxPath}/plugins/layui/layui.js"></script>

</head>
<body>
<div class="pageMain">

    保存页面
</div>
<script>

</script>
</body>

</html>